.info {

    &__title {
        font-size: 22px;
        font-weight: bold;
        padding-bottom: 7px;
    }

    &__count {
        font-size: 18px;
    }

    &__table {
        margin-top: 15px;
        width: 100%;
    }
}